.button {
  font: inherit;
  border: 1px solid #ec4d33;
  background: #f07662;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #ec4d33;
  border-color: #ec3a1e;
}
